p {margin: 0px;}

#Diaphanosoma_brachyurum{color: #BFBFBF; background: rgb(0,0,251)}
#Bosmina_longirostris{color: #BFBFBF; background: rgb(0,0,469)}
#Eubosmina_coregoni{color: #BFBFBF; background: rgb(0,0,469)}
#Chydorus_sphaericus{color: #BFBFBF; background: rgb(0,0,985)}
#Pleuroxus_aduncus{color: #BFBFBF; background: rgb(0,0,566)}
#Pleuroxus_striatus{color: #BFBFBF; background: rgb(0,0,500)}
#Ceriodaphnia_pulchella{color: #BFBFBF; background: rgb(0,0,347)}
#Ceriodaphnia_dubia{color: #BFBFBF; background: rgb(0,0,436)}
#Daphnia_cucullata{color: #BFBFBF; background: rgb(0,0,469)}
#Daphnia_longispina{color: #BFBFBF; background: rgb(952,0,999)}
#Daphnia_hyalina{color: #BFBFBF; background: rgb(0,0,538)}
#Daphnia_magna{color: #BFBFBF; background: rgb(0,0,399)}
#Daphnia_pulex{color: #BFBFBF; background: rgb(0,0,537)}
#Scapholeberis_mucronata{color: #BFBFBF; background: rgb(0,0,469)}
#Simocephalus_serrulatus{color: #BFBFBF; background: rgb(0,0,607)}
#Moina_macrocopa{color: #BFBFBF; background: rgb(999,999,999)}
#Leptodora_kindtii{color: #BFBFBF; background: rgb(0,0,0)}
