p {margin: 0px;}

#Squatina_californica{color: #BFBFBF; background: rgb(0,0,750)}
#Squatina_dumeril{color: #BFBFBF; background: rgb(0,0,412)}
#Pristiophorus_cirratus{color: #BFBFBF; background: rgb(0,0,661)}
#Deania_calcea{color: #BFBFBF; background: rgb(0,0,494)}
#Centrophorus_squamosus{color: #BFBFBF; background: rgb(0,0,237)}
#Squalus_acanthias{color: #BFBFBF; background: rgb(0,0,185)}
#Squalus_blainville{color: #BFBFBF; background: rgb(0,0,259)}
#Squalus_megalops{color: #BFBFBF; background: rgb(0,0,500)}
#Squalus_mitsukurii{color: #BFBFBF; background: rgb(0,0,422)}
#Squalus_montalbani{color: #BFBFBF; background: rgb(0,0,691)}
#Somniosus_microcephalus{color: #BFBFBF; background: rgb(0,0,118)}
#Centroscymnus_crepidater{color: #BFBFBF; background: rgb(0,0,503)}
#Centroscymnus_owstonii{color: #BFBFBF; background: rgb(0,0,302)}
#Centroscymnus_plunketi{color: #BFBFBF; background: rgb(0,0,358)}
#Centroscyllium_fabricii{color: #BFBFBF; background: rgb(0,0,524)}
#Etmopterus_baxteri{color: #BFBFBF; background: rgb(0,0,658)}
#Etmopterus_perryi{color: #BFBFBF; background: rgb(999,999,999)}
#Etmopterus_spinax{color: #BFBFBF; background: rgb(0,0,862)}
#Dalatias_licha{color: #BFBFBF; background: rgb(0,0,22)}
#Chlamydoselachus_anguineus{color: #BFBFBF; background: rgb(0,0,497)}
#Heptranchias_perlo{color: #BFBFBF; background: rgb(81,0,999)}
#Notorynchus_cepedianus{color: #BFBFBF; background: rgb(0,0,216)}
#Heterodontus_portusjacksoni{color: #BFBFBF; background: rgb(0,0,247)}
#Hemiscyllium_ocellatum{color: #BFBFBF; background: rgb(0,0,394)}
#Chiloscyllium_plagiosum{color: #BFBFBF; background: rgb(0,0,598)}
#Rhincodon_typus{color: #BFBFBF; background: rgb(0,0,21)}
#Orectolobus_ornatus{color: #BFBFBF; background: rgb(0,0,113)}
#Orectolobus_halei{color: #BFBFBF; background: rgb(0,0,162)}
#Orectolobus_maculatus{color: #BFBFBF; background: rgb(0,0,103)}
#Ginglymostoma_cirratum{color: #BFBFBF; background: rgb(0,0,81)}
#Sphyrna_lewini{color: #BFBFBF; background: rgb(0,0,141)}
#Sphyrna_mokarran{color: #BFBFBF; background: rgb(0,0,98)}
#Sphyrna_tiburo{color: #BFBFBF; background: rgb(0,0,366)}
#Sphyrna_zygaena{color: #BFBFBF; background: rgb(0,0,88)}
#Eusphyra_blochii{color: #BFBFBF; background: rgb(0,0,152)}
#Scyliorhinus_canicula{color: #BFBFBF; background: rgb(0,0,182)}
#Cephaloscyllium_isabellum{color: #BFBFBF; background: rgb(0,0,347)}
#Galeus_melastomus{color: #BFBFBF; background: rgb(0,0,833)}
#Galeus_sauteri{color: #BFBFBF; background: rgb(0,0,693)}
#Carcharhinus_acronotus{color: #BFBFBF; background: rgb(0,0,243)}
#Carcharhinus_albimarginatus{color: #BFBFBF; background: rgb(0,0,238)}
#Carcharhinus_amblyrhynchos{color: #BFBFBF; background: rgb(0,0,160)}
#Carcharhinus_brachyurus{color: #BFBFBF; background: rgb(0,0,254)}
#Carcharhinus_brevipinna{color: #BFBFBF; background: rgb(0,0,140)}
#Carcharhinus_cautus{color: #BFBFBF; background: rgb(0,0,235)}
#Carcharhinus_coatesi{color: #BFBFBF; background: rgb(0,0,515)}
#Carcharhinus_falciformis{color: #BFBFBF; background: rgb(0,0,82)}
#Carcharhinus_fitzroyensis{color: #BFBFBF; background: rgb(0,0,288)}
#Carcharhinus_isodon{color: #BFBFBF; background: rgb(0,0,261)}
#Carcharhinus_leucas{color: #BFBFBF; background: rgb(0,0,142)}
#Carcharhinus_limbatus{color: #BFBFBF; background: rgb(0,0,155)}
#Carcharhinus_longimanus{color: #BFBFBF; background: rgb(0,0,113)}
#Carcharhinus_macloti{color: #BFBFBF; background: rgb(0,0,313)}
#Carcharhinus_melanopterus{color: #BFBFBF; background: rgb(0,0,525)}
#Carcharhinus_obscurus{color: #BFBFBF; background: rgb(0,0,166)}
#Carcharhinus_perezi{color: #BFBFBF; background: rgb(0,0,96)}
#Carcharhinus_plumbeus{color: #BFBFBF; background: rgb(0,0,756)}
#Carcharhinus_porosus{color: #BFBFBF; background: rgb(0,0,373)}
#Carcharhinus_signatus{color: #BFBFBF; background: rgb(0,0,232)}
#Carcharhinus_sorrah{color: #BFBFBF; background: rgb(0,0,233)}
#Carcharhinus_tilstoni{color: #BFBFBF; background: rgb(0,0,222)}
#Galeocerdo_cuvier{color: #BFBFBF; background: rgb(0,0,63)}
#Rhizoprionodon_acutus{color: #BFBFBF; background: rgb(0,0,200)}
#Rhizoprionodon_lalandii{color: #BFBFBF; background: rgb(0,0,361)}
#Rhizoprionodon_taylori{color: #BFBFBF; background: rgb(0,0,18)}
#Rhizoprionodon_terraenovae{color: #BFBFBF; background: rgb(0,0,221)}
#Prionace_glauca{color: #BFBFBF; background: rgb(0,0,146)}
#Negaprion_brevirostris{color: #BFBFBF; background: rgb(0,0,126)}
#Isogomphodon_oxyrhynchus{color: #BFBFBF; background: rgb(0,0,218)}
#Loxodon_macrorhinus{color: #BFBFBF; background: rgb(0,0,388)}
#Scoliodon_laticaudus{color: #BFBFBF; background: rgb(0,0,609)}
#Triaenodon_obesus{color: #BFBFBF; background: rgb(0,0,273)}
#Mustelus_asterias{color: #BFBFBF; background: rgb(0,0,112)}
#Mustelus_californicus{color: #BFBFBF; background: rgb(0,0,263)}
#Mustelus_canis{color: #BFBFBF; background: rgb(0,0,265)}
#Mustelus_henlei{color: #BFBFBF; background: rgb(0,0,339)}
#Mustelus_lenticulatus{color: #BFBFBF; background: rgb(0,0,359)}
#Mustelus_manazo{color: #BFBFBF; background: rgb(0,0,345)}
#Mustelus_mustelus{color: #BFBFBF; background: rgb(0,0,263)}
#Mustelus_walkeri{color: #BFBFBF; background: rgb(0,0,527)}
#Triakis_semifasciata{color: #BFBFBF; background: rgb(0,0,299)}
#Furgaleus_macki{color: #BFBFBF; background: rgb(0,0,66)}
#Galeorhinus_galeus{color: #BFBFBF; background: rgb(0,0,410)}
#Hemitriakis_japanica{color: #BFBFBF; background: rgb(0,0,294)}
#Hemipristis_elongata{color: #BFBFBF; background: rgb(0,0,198)}
#Carcharias_taurus{color: #BFBFBF; background: rgb(0,0,153)}
#Lamna_ditropis{color: #BFBFBF; background: rgb(0,0,0)}
#Lamna_nasus{color: #BFBFBF; background: rgb(0,0,88)}
#Isurus_oxyrinchus{color: #BFBFBF; background: rgb(0,0,88)}
#Carcharodon_carcharias{color: #BFBFBF; background: rgb(0,0,217)}
#Pseudocarcharias_kamoharai{color: #BFBFBF; background: rgb(0,0,247)}
#Alopias_pelagicus{color: #BFBFBF; background: rgb(0,0,372)}
#Alopias_superciliosus{color: #BFBFBF; background: rgb(0,0,166)}
#Alopias_vulpinus{color: #BFBFBF; background: rgb(0,0,174)}
#Cetorhinus_maximus{color: #BFBFBF; background: rgb(0,0,13)}
#Mitsukurina_owstoni{color: #BFBFBF; background: rgb(0,0,90)}
